hr {
    border-width: 3px;
    border-color:darkseagreen;
    margin: 30px 0px;
}

header {
    margin-top: 30px;
    color: darkseagreen;
}



h1{
    font-size: 18px;
    font-weight: bold;
   
}

.form-group>label {
    font-weight: bold;
}
span{
    margin-left: 5px;
}
